{% if perms.vendedor.view_report and perms.vendedor.delete_report %}
<li class="nav-item">
    <a href="{% url 'supervisor:liquidaciones' %}" class="nav-link">
        <i class="nav-icon fas fa-clipboard-check"></i>
        <p>Liq. Vendedores</p>
    </a>
</li>
{% endif %}
{% if perms.supervisor.add_grupsupervisor %}
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-edit"></i>
        <p>Liquidaciones<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'supervisor:crear_ventas' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Liquidar Ventas</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'supervisor:lista_ventas' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Consultar Liquidaciones</p>
            </a>
        </li>
    </ul>
</li>
{% endif %}
{% if perms.usuario.add_seller %}
<li class="nav-item">
    <a href="{% url 'supervisor:crear_vendedor' %}" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>Registrar Vendedor</p>
    </a>
</li>
{% endif %}

{% if perms.usuario.view_seller and perms.usuario.add_seller%}
<li class="nav-item">
    <a href="{% url 'supervisor:lista_vendedores' %}" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Lista de Vendedores</p>
    </a>
</li>
{% endif %}

{% if perms.inventory.view_inventory %}
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-boxes"></i>
        <p>Inventario<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        {% if perms.inventory.add_inventory %}
        <li class="nav-item">
            <a href="{% url 'supervisor:agregar-inventario' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar</p>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="{% url 'vendedor:inventario' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Consultar</p>
            </a>
        </li>
    </ul>
</li>
{% endif %}