{% extends "home/base.html" %}
{% load static %}


{% block head %}

<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

{% endblock %}


{% block contenedor %}

<!-- Main content -->
<section class="content">
  <!-- Default box -->

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Vendedores</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="vendedores-list" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Nombres y Apellidos</th>
            <th>Estado</th>
            <!--<th>Estado</th>-->
            <th>Accion</th>

          </tr>
        </thead>
        <tbody>
          {% for usuario in object_list %}
          <tr>
            <td>
              {% if usuario.vendedor.user_profile.avatar %}
              <img src="{{usuario.vendedor.user_profile.avatar.url}}" class="img-circle elevation-2" alt="User Image"
                width="50" height="50">
              {% else %}
              <img src="{% static 'dist/img/AdminLTELogo.png' %}" class="img-circle elevation-2" alt="User Image"
                width="50" height="50">
              {% endif %}
            </td>
            <td>{{usuario.vendedor.first_name}} {{usuario.vendedor.last_name}}</td>
            
            <td>
              {% if usuario.vendedor.is_active %}
              <span class="badge badge-success">Activo</span>
              {% else %}
              <span class="badge badge-danger">Desactivo</span>
              {% endif %}
            </td>
            <td>
              {% if perms.usuario.view_seller %}
              <a class="btn btn-primary btn-sm"
                href="{% url 'supervisor:informacion_vendedor' usuario.vendedor.id %}">
                <i class="fas fa-folder">
                </i>
                View
              </a>
              {% endif %}
              {% if perms.usuario.change_seller%}
              <a class="btn btn-info btn-sm" href="{% url 'supervisor:editar_vendedor' usuario.vendedor.id %}">
                <i class="fas fa-pencil-alt">
                </i>
                Edit
              </a>
              {% endif %}
              
            </td>
          </tr>
          {% endfor %}

          </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
<!-- /.content -->
{% endblock %}


{% block script %}
<script type="application/javascript">
  $(function () {
    $("#vendedores-list").DataTable({
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
          "first": "Primero",
          "last": "Ultimo",
          "next": "Siguiente",
          "previous": "Anterior"
        }
      }


    });

  });
</script>
{% endblock script %}