{% if perms.lider.view_product %}
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-boxes"></i>
        <p>Productos<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'lider:lista_productos' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ver Productos</p>
            </a>
        </li>
        {% if perms.lider.add_product %}
        <li class="nav-item">
            <a href="{% url 'lider:agregar_producto' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Nuevo Producto</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'lider:automatic' 1 %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Automatic</p>
            </a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}