{% if perms.inventory.add_inventory%}
<li class="nav-item">
    <a href="{% url 'lider:crear_supervisor' %}" class="nav-link">
        <i class="nav-icon far fa-image"></i>
        <p>
            Registrar Supervisor
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'lider:lista_trabajadores' %}" class="nav-link">
        <i class="nav-icon far fa-image"></i>
        <p>
            Trabajadores
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-boxes"></i>
        <p>Productos<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'lider:lista_productos' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ver Productos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'lider:agregar_producto' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Nuevo Producto</p>
            </a>
        </li>
    </ul>
</li>

{% endif %}